.qvt-sheet-container #grid-wrap{
    background-color: #eaf3f5;
}

div[tid="feBpWK"]{
    border: 0px !important;
}

div[tid="feBpWK"] .qv-object-piechart{
    background: url("img/Delfin.png") !important;
}

div[tid="tXJUR"] .qv-object-piechart{
    background: url("img/Cocodrilo.png") !important;
}

div[tid="WzCmzRe"] .qv-object-piechart{
    background: url("img/Loro.png") !important;
}

div[tid="hwjPkpD"] .qv-object-piechart{
    background: url("img/Perezoso.png") !important;
}

div[tid="feBpWK"] .qv-object-piechart, div[tid="WzCmzRe"] .qv-object-piechart, div[tid="tXJUR"] .qv-object-piechart,div[tid="hwjPkpD"] .qv-object-piechart{
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: 100% auto !important;
}

div[tid="feBpWK"] *, div[tid="tXJUR"] *, div[tid="WzCmzRe"] *, div[tid="hwjPkpD] *{
    background-color: transparent !important;
}

div[tid="feBpWK"] .lui-tab_text, div[tid="tXJUR"] .lui-tab_text, div[tid="WzCmzRe"] .lui-tab_text, div[tid="hwjPkpD"] .lui-tab_text{
    color: transparent !important;
}

div[tid="feBpWK"] .lui-tab, div[tid="tXJUR"] .lui-tab, div[tid="WzCmzRe"] .lui-tab, div[tid="hwjPkpD"] .lui-tab{
    border-bottom: transparent !important;
}

div[tid="feBpWK"] .qsc-item-wrapper, div[tid="tXJUR"] .qsc-item-wrapper, div[tid="WzCmzRe"] .qsc-item-wrapper, div[tid="hwjPkpD"] .qsc-item-wrapper{
    border: 0px !important;
}

div[tid="FaxBwgt"] .qv-state-count-bar{
    display:none;
}

div[tid="FaxBwgt"] .qv-collapsed-listbox, div[tid="FaxBwgt"] .qv-collapsed-listbox:hover{
    background-color: transparent !important;
    border: 0px;
}

div[tid="FaxBwgt"] .title{
    text-align:center !important;
}

div[tid="zPPmubU"]{
    background: url("img/botton_Fliper_blue.png");
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: 100% auto !important;
}

div[tid="RAPhJR"]{
    background: url("img/botton_Fliper_2_blue.png");
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: 100% auto !important;
}

div[tid="pnzmzYf"]{
    background: url("img/botton_selected.png");
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: 50% auto !important;
}

div[tid="nrBmHf"], div[tid="bLDzJn"], div[tid="KKdPHvR"], div[tid="bvjgP"]{
    background: url("img/botton_unselected.png");
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: 50% auto !important;
}
