.qvt-sheet-container #grid-wrap{
    background-color: #eaf3f5;
}

div[tid="feBpWK"]{
    border: 0px !important;
}

div[tid="feBpWK"] .qv-object-piechart{
    background: url("img/Delfin.PNG") !important;
}

div[tid="tXJUR"] .qv-object-piechart{
    background: url("img/Cocodrilo.PNG") !important;
}

div[tid="WzCmzRe"] .qv-object-piechart{
    background: url("img/Loro.PNG") !important;
}

div[tid="hwjPkpD"] .qv-object-piechart{
    background: url("img/Perezoso.PNG") !important;
}

div[tid="feBpWK"] .qv-object-piechart, div[tid="WzCmzRe"] .qv-object-piechart, div[tid="tXJUR"] .qv-object-piechart,div[tid="hwjPkpD"] .qv-object-piechart{
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: 75% auto !important;
}

div[tid="feBpWK"], div[tid="WzCmzRe"], div[tid="tXJUR"], div[tid="hwjPkpD"]{
    width:calc(13.8889% - 4px) !important;
    height:calc(22.2222% - 4px) !important;
    left:calc(86.1111% + 2px) !important;
    top:calc(11.1111% + 2px) !important;
}

div[tid="FaxBwgt"] .qv-state-count-bar{
    display:none;
}

div[tid="FaxBwgt"] .qv-collapsed-listbox, div[tid="FaxBwgt"] .qv-collapsed-listbox:hover{
    background-color: transparent !important;
    border: 0px;
}

div[tid="FaxBwgt"] .title{
    text-align:center !important;
}

div[tid="zPPmubU"]{
    background: url("img/botton_Fliper_blue.png");
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: 100% auto !important;
}

div[tid="RAPhJR"]{
    background: url("img/botton_Fliper_2_blue.png");
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: 100% auto !important;
}

div[tid="pnzmzYf"]{
    background: url("img/botton_selected.png");
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: 50% auto !important;
}

div[tid="nrBmHf"], div[tid="bLDzJn"], div[tid="KKdPHvR"], div[tid="bvjgP"]{
    background: url("img/botton_unselected.png");
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: 50% auto !important;
}

div[tid="feBpWK"] *{
    background-color: transparent !important;
}

div[tid="feBpWK"] .lui-tab_text{
    color: transparent !important;
}

div[tid="feBpWK"] .lui-tab{
    border-bottom: transparent !important;
}

div[tid="feBpWK"] .qsc-item-wrapper{
    border: 0px !important;
}

div[tid="tXJUR"] *{
    background-color: transparent !important;
}

div[tid="tXJUR"] .lui-tab_text{
    color: transparent !important;
}

div[tid="tXJUR"] .lui-tab{
    border-bottom: transparent !important;
}

div[tid="tXJUR"] .qsc-item-wrapper{
    border: 0px !important;
}

div[tid="WzCmzRe"] *{
    background-color: transparent !important;
}

div[tid="WzCmzRe"] .lui-tab_text{
    color: transparent !important;
}

div[tid="WzCmzRe"] .lui-tab{
    border-bottom: transparent !important;
}

div[tid="WzCmzRe"] .qsc-item-wrapper{
    border: 0px !important;
}

div[tid="hwjPkpD"] *{
    background-color: transparent !important;
}

div[tid="hwjPkpD"] .lui-tab_text{
    color: transparent !important;
}

div[tid="hwjPkpD"] .lui-tab{
    border-bottom: transparent !important;
}

div[tid="hwjPkpD"] .qsc-item-wrapper{
    border: 0px !important;
}

div[tid="YZvCJq"] .qv-inner-object{
    border-radius: 10px !important;
}