/*
.qvt-sheet-container  .sheet-title-container{
    display:none !important;
}

.qvt-selections{
    display:none !important;
}

.qs-header{
    display:none !important;
}

#qs-page-container{
	height:100% !important;
}
*/

div[tid="PajXCHu"]{
    display:none;
}

.qvt-sheet-container #grid-wrap{
    background: url("img/background_thinner.png");
    background-repeat: repeat-x;
    background-size: auto 100%;
}

div[tid="SPLPpQw"] {
    background: url("img/background_graphs.png");
    background-size: 100% 100%;
}

div[tid="SPLPpQw"] *{
    background-color: transparent !important;
}
