/*

.qvt-selections{
    display:none !important;
}

.qvt-sheet-container  .sheet-title-container{
    display:none !important;
}

.qs-header{
    display:none !important;
}

#qs-page-container{
	height:100% !important;
}

div[tid="PajXCHu"]{
    display:none;
}
*/

.qvt-sheet-container #grid-wrap{
    background-color: #f2e9d8;
}

div[tid="feyLD"]{
    border: 0px !important;
}

div[tid="feyLD"] .qv-object-piechart, div[tid="feyLD"] .qv-object-scatterplot{
    background: url("img/background_graphs - 2.png") !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: 100% auto !important;
}

div[tid="feyLD"] *{
    background-color: transparent !important;
}

div[tid="feyLD"] .lui-tab_text{
    color: transparent !important;
}

div[tid="feyLD"] .lui-tab{
    border-bottom: transparent !important;
}

div[tid="feyLD"] .qsc-item-wrapper{
    border: 0px !important;
}


div[tid="Ezmpxv"] {
    background-color: blue !important;
    height: calc(100% - 0px) !important;
}

div[tid="Ezmpxv"] .qv-state-count-bar{
    display:none;
}

div[tid="Ezmpxv"] .qv-collapsed-listbox, div[tid="Ezmpxv"] .qv-collapsed-listbox:hover{
    background-color: transparent !important;
    border: 0px;
}

div[tid="Ezmpxv"] .title{
    text-align:center !important;
}

div[tid="dExv"]{
    background: url("img/botton_Fliper.png");
    background-size: auto;
    background-repeat: no-repeat;
    border: 0px;
    width: calc(12% - 0px) !important;
    height: calc(14% - 0px) !important;
    left: calc(0% + 0px) !important;
    top: calc(0% + 0px) !important;
}

div[tid="NPhveVy"]{
    background: url("img/botton_Fliper_2.png");
    background-size: auto;
    background-repeat: no-repeat;
    border: 0px;
    width: calc(12% - 0px) !important;
    height: calc(14% - 0px) !important;
    left: calc(88% + 0px) !important;
    top: calc(0% + 0px) !important;
}
