.qvt-sheet-container #grid-wrap{
    background: url("img/background_thinner.png");
    background-repeat: repeat-x;
    background-size: auto;
}

.qvt-sheet-container  .sheet-title-container{
    display:none;
}