/*

.qvt-selections{
    display:none !important;
}

.qvt-sheet-container  .sheet-title-container{
    display:none !important;
}

.qs-header{
    display:none !important;
}

#qs-page-container{
	height:100% !important;
}

div[tid="PajXCHu"]{
    display:none;
}
*/

.qvt-sheet-container #grid-wrap{
    background-color: #f2e9d8;
}

div[tid="feyLD"] {
    background: url("img/background_graphs - 2.png");
    background-size: 100% 100%;
    border: 0px;
}

div[tid="feyLD"] .qv-object-container{
    border:none !important;
}

div[tid="feyLD"] *{
    background-color: transparent !important;
}

div[tid="feyLD"] .qv-object-header{
    display:none;
}

div[tid="feyLD"] .qsc-tab-row, div[tid="feyLD"] .sel-toolbar-list{
    display:none !important;
}

div[tid="feyLD"] .qsc-item_wrapper,div[tid="feyLD"] .qsc-tab-row{
    border: 0px !important;
}

div[tid="vgYJCJ"] {
    background-color: transparent;
    width: calc(76% - 0px) !important;
    height: calc(8.3333% - 0px) !important;
    left: calc(12% + 0px) !important;
    top: calc(0% + 0px) !important;
}

div[tid="vgYJCJ"] .qv-state-count-bar{
    display:none;
}

div[tid="vgYJCJ"] .qv-collapsed-listbox, div[tid="vgYJCJ"] .qv-collapsed-listbox:hover{
    background-color: transparent !important;
    border: 0px;
}

div[tid="vgYJCJ"] .title{
    text-align:center !important;
}

div[tid="dExv"]{
    background: url("img/botton_Fliper.png");
    background-size: auto;
    background-repeat: no-repeat;
    border: 0px;
    width: calc(12% - 0px) !important;
    height: calc(14% - 0px) !important;
    left: calc(0% + 0px) !important;
    top: calc(0% + 0px) !important;
}

div[tid="NPhveVy"]{
    background: url("img/botton_Fliper_2.png");
    background-size: auto;
    background-repeat: no-repeat;
    border: 0px;
    width: calc(12% - 0px) !important;
    height: calc(14% - 0px) !important;
    left: calc(88% + 0px) !important;
    top: calc(0% + 0px) !important;
}
