/*
.qvt-sheet-container  .sheet-title-container{
    display:none !important;
}

.qvt-selections{
    display:none !important;
}

.qs-header{
    display:none !important;
}

#qs-page-container{
	height:100% !important;
}
*/

div[tid="PajXCHu"]{
    display:none;
}

.qvt-sheet-container #grid-wrap{
    background: url("img/background_thinner.png");
    background-repeat: repeat-x;
    background-size: auto 100%;
}

div[tid="SPLPpQw"] {
    background: url("img/background_graphs.png");
    background-size: 100% 100%;
    width: calc(50% - 4px);
    height: calc(83.3333% - 4px);
    left: calc(25% + 2px);
    top: calc(8.3333% + 2px);
}

div[tid="SPLPpQw"] *{
    background-color: transparent !important;
}

div[tid="SPLPpQw"] .qsc-tab-row{
    display:none;
}
